*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.header{
    background: url(img/header\ bg.png)no-repeat center bottom /cover;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.main{
    background: black;
    height: 100vh;
}

.header__nav-list{
    display: flex;
    column-gap: 31px;
}

.header__nav-list a{
    color: white;
    font-size: 15px;
    line-height: 28px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.header__content-title{
    font-size: 74px;
    line-height: 84px;
    font-weight: 700;
    max-width: 672px;
    width: 100%;
}

.header__content-text{
    font-size: 28px;
    line-height: 40px;
    max-width: 766px;
    width: 100%;
    text-align: center;
    margin-top: 17px;
    margin-bottom: 70px;
}

.btn{
    background: #2091F9;
    color: white;
    padding: 15px 45px;
    border-radius: 15px;
}